name: CI - Test & Build & Push to GHCR

on:
  push:
    tags:
      - "v*"

jobs:
  ci:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: app/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: app

      - name: Run tests
        run: npm test
        working-directory: app

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        run: |
          IMAGE=ghcr.io/${{ github.repository }}:${{ github.ref_name }}
          echo "Building $IMAGE"
          docker build -t $IMAGE .
          docker push $IMAGE
        working-directory: app

      - name: Update deployment manifest with new tag
        run: |
          TAG=${{ github.ref_name }}
          echo "Updating deployment to tag $TAG"
          sed -i "s|image: ghcr.io/lebard504/devops-lab-saldo-api:.*|image: ghcr.io/lebard504/devops-lab-saldo-api:${TAG}|g" ../k8s/deployment.yaml
        working-directory: app

      - name: Commit and push updated manifest
        run: |
          TAG=${{ github.ref_name }}
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add k8s/deployment.yaml
          git commit -m "chore: deploy image ${TAG}"
          git push origin HEAD:main